.hidden{
    display: none;
    transform: 2s;
}
.controls{
    display: flex;
    gap:1rem;
    
} .custom-control button{
        /* padding: 0.5rem; */
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        /* background-color: rgb(31, 193, 199); */
        /* border: 1rem solid transparent; */
        cursor: pointerC;
        /* transition: 2s; */
}
.active{
    background-color: brown;

}